google-cloud-aiplatform
google-auth
google-cloud-bigquery
google-cloud-storage
google-generativeai>=0.8.0
firebase-admin
fastapi
uvicorn
pillow
requests
python-dotenv>=1.0.1
instagrapi
cloudinary
twilio
sounddevice
scipy
SpeechRecognition
playsound
gtts
openai-whisper
reportlab
